{%extends 'base.html'%}
{%load static %}
{%block content%} <br><br>
    <h1>Can Your Device Truly Recognize A Vehicle?</h1> <br>

    
    <h3> A trained model that clearly recognizes what obstacle is approaching and distinguishes with precision whether it is a vehicle or just a random object. 
The application of this varies from being integrated into a visual access control system to being synchronized into automated vehicles to being integrated into a CCTV system.</h3>
<br><br>
<h3> As we improve and explore the divergent applications of this model, we invite you to join us on this ride... </h3>
<br><br>
<h2><i> Welcome onboard! </i></h2>
{%endblock %} <i></i>